<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Doce Cupcake | Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>🧁 Doce Cupcake</h1>
    <p>Login do Cliente</p>
</header>

<main class="container">

    <div class="login-card">

        <h2>Fazer Login</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for categoria, mensagem in messages %}
                    <div class="mensagem {{ categoria }}">
                       {{ mensagem }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('login') }}" method="POST">

            <label for="email">E-mail:</label>
            <input
                type="email"
                id="email"
                name="email"
                required
            >

            <label for="senha">Senha:</label>
            <input
                type="password"
                id="senha"
                name="senha"
                required
            >

            <button type="submit">
                Entrar
            </button>

        </form>

        <a href="{{ url_for('index') }}">
            Ainda não tenho cadastro
        </a>

    </div>

</main>

</body>
</html>